<footer>
    <div class="f-info   f-info-links">
        <div class="f-info-socials">
           <a href="https://github.com/AbishekRdev"><i class="fa-brands fa-square-github"></i></a>  
           <a href="www.linkedin.com/in/abishekrdev"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy;wanderlust</div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy</a>
            <a href="/terms">Terms</a>

        </div>
    </div>
</footer>