body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

.container{
    flex:1;
}


 
.navbar{

    height:5rem;
    background-color: white;
}

.fa-compass{

    font-size: 2rem;
    color:#fe424d; 
    
}
.nav-link{
    color:#222222;
}


/* footers */
.f-info-links a{
    width:100%;
    text-decoration:none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration:underline;

}

.f-info-links,.f-info-socials{
    cursor: pointer;
    width:100%;
}

.f-info-socials i{
    margin-right:1rem;
    font-size:1.3rem;
    
}
.f-info{
    
    text-align: center;
    background-color: #ebebeb;
    height:7rem;
  
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;

}

/* card */
a{
    text-decoration:none;
}
.listing-card{

    border:none;
    margin-bottom:2rem;


}

.card-img-top{
    border-radius:1rem;
    width:100%;
    object-fit:cover;
    height: 20rem;

    
}

.card-body{
    padding:0;
}

.card-text p{
    font-weight:400;
    
}


/* card effect */

.card-img-overlay{
   
    opacity:0;
}
.card-img-overlay:hover{
    background-color:white;
    opacity:0.2;
}

/* btn */
.add-btn{
    color:white;
    background-color: #fe424d;
    border:none;
}
.add-btn:hover{
    color:white;
    background-color: #fe424d;
    border:none;
}

 
.show-card{


    padding:0;
    
} 

 html {
    scroll-behavior: smooth;
  } 


  .bttns{
    display:flex;
   justify-content: space-between;

  }


  /* maps */
  #map {

   height: 400px;
    width: 80vh;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     

    
    

}

.navbar-collapse {
    background-color: white !important; 
     z-index: 1050;

  }
.airnb:hover{
    color:#fe424d;

}



/* filters  */



#filters{
    display:flex;
    flex-wrap: wrap;
   
  
  }
  .filter{
    text-align: center;
    margin:2rem;
    opacity:0.7;
    cursor: pointer;

  }

  .filter:hover{
    color:#fe424d;
    opacity:1;
  }

  .Sitem {
    transition: opacity 0.3s ease-in-out;
}


/* search */
.Search{
 
    border-radius:25px;
    padding:0.5rem 3rem 0.5rem 3rem;
 
    
}

